* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    display: grid;
    font: 1em/1.5 sans-serif;
    height: 100vh;
    place-items: center;
}

:root {
    --bg: #e3e4e8;
    --fg: #2e3138;
    --primary: #255ff4;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}